/* 
Defining colors to be used for the header
and main font of the page  
*/
:root {
    --main-font: "Raleway", sans-serif;
    --header-color: #FDFBD4;
    --gsw-color: color(display-p3 1 0.78 0.17);
    --title-weight: 800;
}

/* type selector to apply font to entire page */
body {
    font-family: var(--main-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    margin: auto;       /* auto margin usage */
}

/* Usage of selector list */
h1, h2, h3 {
    /* Usage of text styling */
    text-decoration: none;
    text-align: center;
}

/* Color for title*/
h1 {
    /*Makes use of hex code*/
    color: #0583eb; 
}

/* Color for the topics*/
h2 {
    /* Makes use of rgb */
    color: rgb(104, 61, 0);
    /*margin long*/
    margin-top: 20px;       
    margin-bottom: 20px;    
    margin-left: 20px;
    margin-right: 20px;
}

/* Color for sub topics */
h3 {
    /* Makes use of hsl */
    color: hsl(200, 80%, 40%);
    
}

/* Color for the header with var and fallback */
header {
  background-color: var(--header-color, beige);
}

/* Color to signify a specific speaker: Stephen Curry */
/* Makes use of two selectors */
b.highlight-curry {
    /* Makes use of wider-gamut color() */
    color: var(--gsw-color);
}

/* Child combinator to stylize images in main */
main > img {
    display: block;         /* usage of display to render image in the center*/
    margin: 20px auto;      /* margin shorthand */
    
    /* Box model: border stuff */
    border-style: solid;
    border-color: var(--gsw-color);
    border-width: 4px;
    border-radius: 10px;


}

/* Color to signify a specific speaker: John Mayer */
.highlight-mayer {
    /* Makes use of wider-gamut color-mix() */
    color: color-mix(in srgb, blue 60%, red 40%);
}

/* Color to signify a specific speaker: Charles Leclerc */
.highlight-leclerc {
    color: #FF2800;
}
