/* 
Defining colors to be used for the header
and main font of the page  
*/
:root {
    --main-font: "Raleway", sans-serif;
    --header-color: #EEF0E6;
    --gsw-color: color(display-p3 1 0.78 0.17);
    --title-weight: 800;
}

/* Universal selector usage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* type selector to apply font to entire page */
body {
    font-family: var(--main-font);
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;        /* Abs unit 1 */

    /* Usage of sizing tools */
    min-width: 320px;       /* Abs unit 2 */
    width: 21cm;            /* Abs unit 3*/

    margin: auto;       /* auto margin usage */
    background-color: #bfe4eb;
}

/* Usage of selector list */
h1, h2, h3 {
    /* Usage of text styling */
    text-decoration: none;
    text-align: center;
}

/* Color for title*/
h1 {
    /*Makes use of hex code*/
    color: #0583eb; 
}

/* Color for the topics*/
h2 {
    /* Makes use of rgb */
    color: rgb(104, 61, 0);
    /*margin long + abs units*/
    margin-top: 20px;       
    margin-bottom: 20px;    
    margin-left: 20px;
    margin-right: 20px;
}

/* Color for sub topics */
h3 {
    /* Makes use of hsl */
    color: hsl(200, 80%, 40%);
    
}

/* Header styling */
header {
    /* Color for the header with var and fallback */
    background-color: var(--header-color, beige);
    /* Flexbox usage */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;      /* Relative unit 1 */
}

/* Styling for all unordered/ordered lists */
section ul, section ol {
    /* Grid usage */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;         /* Relative unit 2*/
    justify-items: stretch;
    list-style-position: inside;
    padding-left: 10px;
}

/* Styling for nav element */
nav {
    /* Position usage */
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Descendant combinator usage */
section p {
    color: #333;
}

/* Child combinator to stylize images in main */
main > img {
    display: block;         /* usage of display to render image in the center*/
    margin: 20px auto;      /* margin shorthand */
    
    /* Usage of sizing tools */
    height: auto;
    max-width: 90%;     /* Relative unit 3 */

    /* Box model: border stuff */
    border-style: solid;
    border-color: var(--gsw-color);
    /* Abs unit usage */
    border-width: 4px;
    border-radius: 10px;
}

/* Adjacent sibling combinator */
h1 + img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* General sibling combinator */
h2 ~ p {
    font-weight: 300;
}

/* ID selector */
#agenda {
    /* Position usage */
    position: relative;
    left: 5px;     
}

/* Attribute selector */
input[type="checkbox"]{
    display: inline-block;
    vertical-align: middle;
}

/* Color to signify a specific speaker: Stephen Curry */
/* Makes use of two selectors */
b.highlight-curry {
    /* Makes use of wider-gamut color() */
    color: var(--gsw-color);
}

/* Color to signify a specific speaker: John Mayer */
.highlight-mayer {
    /* Makes use of wider-gamut color-mix() */
    color: color-mix(in srgb, blue 60%, red 40%);
}

/* Color to signify a specific speaker: Charles Leclerc */
.highlight-leclerc {
    color: #FF2800;
}

/* has*/
section:has(h2) {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* & nesting */
nav ul {
    & li {
        list-style: none;
        & a {
            /* Pseudo class usage */
            &:hover {
                color: var(--gsw-color);
            }
            &:active {
                color: red;
            }
        }
    }
}

/* Responsive: ensure it works on different screen sizes */
@media screen and (max-width: 600px){
    body{
        width: 100%;        /* relative unit */
        min-width: 0;
        padding: 0 20px;      /* padding shorthand */
    }

    section ul, ol {
        grid-template-columns: 1fr;
        list-style-position: inside;
    }

    video{
        display: none;      /* second display feature */
    }
}